:root {
  --blue: #00688d;
  --green: #0d7d4d;
  --teal: #006daa;
  --red: #ab0d02;
  --yellow: #d6b600;
  --white: #fff;
  --dark-gray: #454545;
  --primary: #00262b;
  --secondary: #454545;
  --brand: #d23228;
  --success: #0d7d4d;
  --info: #03c7e8;
  --warning: #f0cc00;
  --danger: #ab0d02;
  --light: #e1dddb;
  --dark: #00262b;
  --gray: #707070;
  --accent-a: #03c7e8;
  --accent-b: #f0cc00;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;
  --font-family-sans-serif: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  --font-family-monospace: 'Roboto Mono', SFMono-Regular, Menlo, Monaco,
    Consolas, 'Liberation Mono', 'Courier New', monospace;
}

body {
  font-family: var(--font-family-sans-serif);
}

hr {
  background-color: var(--light);
  height: 2px;
  /* margin: 5px; */
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1600px;
  /* width: min(100% - 1rem, 65ch); */
  /* height: 7rem; */
  margin-inline: auto;
  padding: 0 0.8rem;
}

.header__principal {
  display: flex;
  flex-direction: row;
  margin: 0.8rem;
  gap: 1rem;
}

.wrapper__img {
  padding: 5px;
  display: flex;
}
.header__img {
  height: 30px;
  width: 60px;
  max-width: 100%;
}
.header__title {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.header__title--info {
  display: flex;

  flex-direction: column;
}

.title {
}

.title--bold {
  font-weight: bold;
  font-size: 1.2rem;
}

.header__user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50%;
  gap: 1rem;
}

.user__title {
  display: flex;
  align-items: center;
}

.header__button {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 2.8rem;
  cursor: pointer;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  font-weight: bolder;
  border: 1px solid var(--light);
  background-color: var(--white);
}
/* .header__button:hover {
  background-color: var(--dark);
  color: var(--white);
} */

.button--full,
.button--chico {
  display: flex;
  align-items: center;
}

.account-circle {
  color: #00262b;
  font-size: bolder;
}
.button--active {
  border: 1px solid black;
}

.user__submenu {
  display: none;
}

.user__submenu--active {
  display: flex;
  min-width: 250px;
  width: 100%;
  flex-direction: column;
  position: absolute;
  inset: 46px auto auto auto;
  border-radius: 0.375rem;

  background: #fff;
  /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3); */
  box-shadow:
    0 4px 10px 0 #00000026,
    0 8px 16px 0 #00000026;
}

.submenu__elemento {
  display: flex;
  justify-content: start;
  align-items: start;
  padding: 0.8rem;
  gap: 1rem;
  width: 100%;

  font-weight: 500;
  font-size: 1.2rem;
  color: var(--secondary);
  background-color: var(--white);
}

.submenu__elemento:hover {
  background-color: var(--light);
  color: var(--secondary);
}

.wrapper {
  display: flex;
  /* gap: 1rem; */
  align-items: center;
}
.submenu__elemento--nuevo {
  background-color: var(--accent-b);
  border-radius: 0.25rem;
  font-size: 0.75rem;
  font-weight: 400;
  padding: 0.3rem;
}

.header__nav {
  display: flex;
  flex-direction: row;
  /* padding: 0.5rem; */
  max-width: 100%;
  justify-content: flex-start;
  height: 30%;
  padding: 0 1rem;
}

.nav__item {
  list-style: none;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 1rem;
  cursor: pointer;
}

.more {
  position: relative;
}
.more__submenu {
  display: block;
  position: absolute;
  inset: 58px 0 auto auto;
  border: 0 solid #00000026;
  border-radius: 1rem;

  width: 250px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.no-visible {
  display: none;
}

.nav__item:hover {
  background-color: var(--light);
}

@media (max-width: 1730px) {
  .user__submenu--active {
    inset: 50px 0 auto auto;
  }
}
@media (max-width: 768px) {
  .button--full {
    display: none;
  }
}
@media (min-width: 768px) {
  .button--chico {
    display: none;
  }
}
