body {

  font-family: serif;
}

img{
  width: 100px;
  max-width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;

}
.header__img {

}
.header__title title{

}

.title--bold{

}

.header__user {

}
.header__button {

}
